.signUpSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80%;
}

.signUpSection > * {
  flex: 1 1 0;
}

.logo {
  margin: 0 20px;
  height: fit-content;
  min-width: fit-content;
  display: inline-block;
  font-size: 63px;
  vertical-align: top;
  font-style: italic;
  text-align: center;
}

.logo img {
  height: 112px;
  vertical-align: middle;
}
